{% extends 'base.html' %}
{% block title %}
    Обновление статьи
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Обновление статьи</h1>
        <form method="post">
            <input value="{{ article.title }}" name="title" id="title" class="form-control" placeholder="Введите название статьи" type="text"><br>
            <textarea name="intro" id="intro" class="form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
            <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст статьи">{{ article.text }}</textarea><br>
            <input type="submit" class="btn btn-success" value="Обновить">
        </form>
    </div>
{% endblock %}
